.button_type_add {
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 2px;

  height: 50px;
  width: inherit;

  background-image: url(../../../images/add-button.svg);
  background-color: #000;  
  background-size: auto;
}

.button_type_add:active {
  border-color: rgb(255, 255, 255);
}