.button_type_edit {  
  height: 24px;
  width: 24px;
  padding: 11px;
  border: 1px solid #fff;
  
  background-image: url(../../../images/edit-button.svg);  
  background-color: #000;  
  background-size: auto;
}

.button_type_edit:active {
  border-color: rgb(255, 255, 255);
}