.button_type_like {
  width: 20.75px;
  height: 18px;
  box-sizing: border-box;
  border: none;
  
  background-size: auto;  
  background-image: url(../../../images/like-button.svg);
  background-color: transparent;
}